.homenaje-regular {
  font-family: "Homenaje", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  *{
    margin: 20px;
  }

  body{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
  }

  .gameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,rgb(14, 0, 16), rgb(56, 35, 59) );
    width: 40vw;
    height: 80vh;
    border-radius: 10%;
  }

  .textContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Homenaje", sans-serif;
    font-size: 32px;
    color: white;
    width: 100%;
    text-align: center;

  }
  .buttonContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
  }

  .buttons{
    width: 15vw;
    height: 10vh;
    font-family: "Homenaje", sans-serif;
    font-size: 32px;
    border-radius: 10%;
    background-color: rgb(14, 0, 16);
    color: white;
    cursor: pointer;
  }

  .buttons:hover{
    text-decoration: underline;
  }